[submodule "EC-2019-ABRIL-3A"]
	path = EC-2019-ABRIL-3A
	url = https://github.com/Plataforma5la/EC-2019-ABRIL-3A
[submodule "EC-2019-SEPTIEMBRE-5B"]
	path = EC-2019-SEPTIEMBRE-5B
	url = https://github.com/Plataforma5la/EC-2019-SEPTIEMBRE-5B
[submodule "EC-2019-SEPTIEMBRE-4B"]
	path = EC-2019-SEPTIEMBRE-4B
	url = https://github.com/Plataforma5la/EC-2019-SEPTIEMBRE-4B
[submodule "EC-2019-SEPTIEMBRE-3A"]
	path = EC-2019-SEPTIEMBRE-3A
	url = https://github.com/Plataforma5la/EC-2019-SEPTIEMBRE-3A
[submodule "EC-2019-SEPTIEMBRE-2C"]
	path = EC-2019-SEPTIEMBRE-2C
	url = https://github.com/Plataforma5la/EC-2019-SEPTIEMBRE-2C
[submodule "EC-2019-SEPTIEMBRE-1A"]
	path = EC-2019-SEPTIEMBRE-1A
	url = https://github.com/Plataforma5la/EC-2019-SEPTIEMBRE-1A
[submodule "EC-2019-ABRIL-2B"]
	path = EC-2019-ABRIL-2B
	url = https://github.com/Plataforma5la/EC-2019-ABRIL-2B
[submodule "EC-2019-ABRIL-1A"]
	path = EC-2019-ABRIL-1A
	url = https://github.com/Plataforma5la/EC-2019-ABRIL-1A
